.dockerignore
.env
.git
.gitignore
.vs
.vscode
**/.toolstarget

# build output directories
**/bin/
**/obj/
**/publish-output/

# non source code files
Dockerfile*
**/*.trx
**/*.md
**/*.ps1
**/*.cmd
**/*.sh
**/test-results/